<h1>Unit Tests</h1>

<dx-tree-list
  #treeList
  [dataSource]="dataSourceWorkspaces"
  dataStructure="tree"
  [showRowLines]="true"
  [showBorders]="true"
  height="100%"
  (onToolbarPreparing)="onToolbarPreparingTreeList($event)"
>
  <dxo-search-panel [visible]="true" [width]="250"></dxo-search-panel>

  <dxi-column dataField="type"></dxi-column>
  <dxi-column dataField="Name"></dxi-column>
  <dxi-column dataField="ExpectedResult"></dxi-column>
  <dxi-column dataField="DAX"></dxi-column>
</dx-tree-list>
