<h1>Unit Tests</h1>

<dx-tree-list #treeList [dataSource]="dataSourceWorkspaces" dataStructure="tree" [showRowLines]="true" [hoverStateEnabled]="true"
  [showBorders]="true" height="100%" (onToolbarPreparing)="onToolbarPreparingTreeList($event)">
  <dxo-search-panel [visible]="true" [width]="250"></dxo-search-panel>

  <dxi-column dataField="type"></dxi-column>
  <dxi-column dataField="Name"></dxi-column>
  <dxi-column dataField="ExpectedResult"></dxi-column>
  <dxi-column dataField="DAX"></dxi-column>

  <dxi-column type="buttons" caption="Actions" alignment="left">
    <dxi-button [visible]="isTabularModelRow" icon="add" text="Add UserStory" type="default"
      [onClick]="onClickAddUserStory">
    </dxi-button>
    <dxi-button [visible]="isUserStoryRow" icon="add" text="Add Unit Test" type="default"
      [onClick]="onClickAddUnitTest">
    </dxi-button>
    <dxi-button [visible]="isUserStoryRow" icon="trash" text="Delete User Story" type="default"
      [onClick]="onClickDeleteUserStory">
    </dxi-button>
    <dxi-button [visible]="isUnitTestRow" icon="trash" text="Delete Unit Test" type="default"
      [onClick]="onClickDeleteUnitTest">
    </dxi-button>
    <dxi-button [visible]="isUserStoryRow" icon="edit" text="Edit Unit Test" type="default"
      [onClick]="onClickEditUserStory">
    </dxi-button>
  </dxi-column>
</dx-tree-list>

<dx-popup *ngIf="isVisibleEditUserStory" [title]="popupTitle" [showTitle]="true" [width]="500" height="auto"
  [(visible)]="isVisibleEditUserStory">
  <dx-form [(formData)]="userStoryToEdit">
    <dxi-item dataField="Name" [label]="{ text: 'Name' }"></dxi-item>

    <dxi-item itemType="button" horizontalAlignment="left" [buttonOptions]="{
        icon: 'save',
        text: 'Save',
        type: 'success',
        onClick: this.onClickSaveUserStory.bind(this),

        width: '100%'
      }"></dxi-item>
  </dx-form>
</dx-popup>