::ng-deep .dx-treelist-search-panel {
  margin: 0 !important;
}

::ng-deep .hide-checkbox .dx-select-checkbox{
  display: none;
}

::ng-deep .hide-checkbox .dx-treelist-icon-container{
  padding-right: 0px;
}
